<template>
  <div class="about">
    <h1>About</h1>
    <p>
      This is the TodoList app v1.0. It is a part
      of the Vue Crash course by Traversy Media.
      Made for educational purposes only.
    </p>
  </div>
</template>
ls